# Node / Vite / React
node_modules/
dist/
build/

# Vite cache
.vite/

# Environment


# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Editor
.vscode/
.idea/
.DS_Store

# OS
Thumbs.db
